<app-header></app-header>
<div class="container">
    <div class="row">
        <!-- Column 1 --> 
        <div class="col-6 justify-content-center">
            <!-- Patient Data -->
            <div class="input-group mb-3">
                <label for="patient-data-csv" class="col-4 col-form-label">Patient Data:</label>
                <input #filePatient class="form-control" accept=".csv" type="file" id="patient-data-csv">
            </div>
            <!-- Lab Data -->
            <div class="input-group mb-3">
                <label for="lab-data-csv" class="col-4 col-form-label">Lab Data:</label>
                <input #fileLab class="form-control" accept=".csv" type="file" id="lab-data-csv">
            </div>
            <!-- Case Data -->
            <div class="input-group mb-3">
                <label for="case-data-csv" class="col-4 col-form-label">Case Data:</label>
                <input #fileCase class="form-control" accept=".csv" type="file" id="case-data-csv">
            </div>
            <!-- Medication Data -->
            <div class="input-group mb-3">
                <label for="medication-data-csv" class="col-4 col-form-label">Medication Data:</label>
                <input #fileMedication class="form-control" accept=".csv" type="file" id="medication-data-csv">
            </div>
            <!-- Medication Data -->
            <div class="input-group mb-3">
                <label for="Surgical-data-csv" class="col-4 col-form-label">Surgical Data:</label>
                <input #fileSurgical class="form-control" accept=".csv" type="file" id="surgical-data-csv">
            </div>
            <div class="mb-4" id="displayUploadStatus">
                <h5> File(s) Uploaded Successfully: {{ SuccessfulFileUpload }} Unsuccessful Uploaded: {{ UnsuccessfulFileUpload }}</h5>
                <button class="btn btn-warning" (click)="closeDisplay()"> Close </button>
            </div>
        </div>
        <!-- Column 2 --> 
        <div class="col-6 justify-content-center">
            
        </div>

    </div> 
    <button class="btn btn-info" (click)="uploadFile()">Upload</button>
</div>


