<app-header></app-header>

<div class="container col-4">
    <div class= "row justify-content-center profile-table">
        <h2 class="text-center">
            My Profile
        </h2>
    </div>
    <div class= "row justify-content-center margin-8">
        <div class="col text-left">
            User Name:
        </div>
        <div class="col text-left">
                {{username}} <!-- need curlly bracket to access variable inside the TS-->
        </div>
    </div>
    <div class= "row justify-content-center margin-8">
        <div class="text-left">
            Password:
        </div>
        <div class="text-left">
             *********
        </div>
    </div>
    <div class= "row justify-content-center margin-8">
        <div class="text-left">
            Position:
        </div>
        <div class="text-left">
             Cardiac Specailist
        </div>
    </div>
    <div class= "row justify-content-center margin-8">
        <div class="text-left">
            Supervisor:
        </div>
        <div class="text-left">
             Senior Cardiac Specailist
        </div>
    </div>
    <div class= "row justify-content-center margin-8">
        <div class="text-left">
            Location:
        </div>
        <div class="text-left">
             NUH Cardiac Centre
        </div>
    </div>
</div>
