.alert { 
    margin-bottom: 1px;
    height: 30px;
    line-height:30px;
    padding:0px 15px;
  } 
amplify-authenciator {
background: rgb(90, 109, 194);
padding: 5px;
}
/* .main is class, #main is ID */