<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark bg-primary" [containerInside]="false">

  <!-- Navbar brand -->
  <mdb-navbar-brand><a class="navbar-brand font-weight-bold" href="#">Timely</a></mdb-navbar-brand>
<!--  <mdb-navbar-brand>-->
<!--    <a class="navbar-brand" href="#">-->
<!--      <img src="../../../../assets/img/NUHS.png" height="30" alt="">-->
<!--    </a>-->
<!--  </mdb-navbar-brand>-->
  <!-- Collapsible content -->
  <links>

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" [ngClass]="{'active': url == '/home' || url == '/'}">
        <a class="nav-link waves-light" routerLink="/home" mdbWavesEffect>Home<span class="sr-only">(current)</span></a>
      </li>
      <!-- Dropdown -->
      <li class="nav-item dropdown" [ngClass]="{'active': url == '/create-patient' || url == '/update-patient'|| url == '/view-patient'}" dropdown>
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          Patient<span class="caret"></span></a>
        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
          <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/create-patient">Create Patient</a>
          <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/create-patient">Update Patient</a>
          <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/view-patient">View Patient</a>
        </div>
      </li>
      <li class="nav-item" [ngClass]="{'active': url == '/my-task'}">
        <a class="nav-link waves-light" routerLink="/my-task" mdbWavesEffect>My Tasks</a>
      </li>
      <li class="nav-item" [ngClass]="{'active': url == '/my-report'}">
        <a class="nav-link waves-light" routerLink="/my-report" mdbWavesEffect>My Reports</a>
      </li>

    </ul>
    <!-- Links -->

    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item avatar dropdown" dropdown>
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light notification-bell" mdbWavesEffect>
          <i class="fas fa-bell"></i>
          <span *ngIf="newTasks.length > 0" class="badge rounded-circle red z-depth-1"> {{ newTasks.length }}</span>
        </a>
        <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
          <div *ngFor="let newTask of newTasks" class="dropdown-item waves-light" mdbWavesEffect >
            <span (click)=onViewReport(newTask) class="view-report"> {{ newTask.filename + " "}} has finished processing </span>
          </div>
          <div *ngIf="newTasks.length == 0" class="dropdown-item waves-light" mdbWavesEffect  >
            No new notifications
          </div>

        </div>
      </li>
      <li class="nav-item avatar dropdown" dropdown>
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg" alt="" class="img-fluid rounded-circle z-depth-0" style="width: 2rem; height: 2rem;">
        </a>
        <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
          <a class="dropdown-item waves-light" mdbWavesEffect  routerLink="/my-account">My account</a>
          <a class="dropdown-item waves-light" mdbWavesEffect  (click)=handleSignOutButtonClick()>Log Out</a>
        </div>
      </li>
    </ul>
  </links>
  <!-- Collapsible content -->

</mdb-navbar>
