<app-header></app-header>

<div class="d-flex align-items-center justify-content-center">
    <div class="container">

        <div class="row">
            <img src={{imagePath}} />
        </div>
        
        <!-- Input Text for Paitent ID & Patient Case number -->
        <div class="row">
            <div class="col-6 justify-content-center">
            <div class="input-group input-group-lg">
                <input type="text" class="form-control" placeholder="Patient ID" >
            </div>
            </div>
            <div class="col-6 justify-content-center">
            <div class="input-group input-group-lg">
                <input type="text" class="form-control" placeholder="Patient Case Number">
            </div>
            </div>
        </div>

    </div>
  </div>
