<app-header></app-header>
<br>
<br>
<!--
<div class="form-body">
  <form autocomplete="off" [formGroup]="createForm" (ngSubmit)="onCreate(createForm.value)">
    <div class="row">
      <label>Patient_No: </label>
      <input type="text" formControlName="Patient_No" autocomplete="off">
    </div>
    <div>
      <label>Case_No: </label>
      <input type="text" formControlName="Case_No" autocomplete="off">
    </div>
    <div>
      <label>Referral_Type_From: </label>
      <input type="text" formControlName="Referral_Type_From" autocomplete="off">
    </div>
    <button type="submit">Submit</button>
  </form>
</div>
-->
<div class="container max-width-section">

<div class="row justify-content-center">
    <img src="../../../assets/images/Medico-Logo-Color.png" width="300" height="150" class="img-fluid" alt="Responsive image"/>
</div>

<br>

<div class="form-body">
  <form autocomplete="off" [formGroup]="createForm" (ngSubmit)="onCreate(createForm.value)">

    <div class="row justify-content-center">
      <!-- Patient_No -->
      <div class="col-5 justify-content-center">
        <div class="input-group input-group-lg">
          <input type="text" class="form-control" formControlName="Patient_No" autocomplete="off" placeholder="Patient No" [(ngModel)] = "selectedPatientNo">
        </div>
      </div>
      <!-- End of Patient_No -->
      <!-- Case_No -->
<!--      <div class="col-5 justify-content-center">-->
<!--        <div class="input-group input-group-lg">-->
<!--            <input type="text" class="form-control" formControlName="Case_No" autocomplete="off" placeholder="Patient Case Number">-->
<!--        </div>-->
<!--      </div>-->
      <!-- End of Case_No -->
      <!-- Button -->
      <div class="col-2 justify-content-center">
        <div class="input-group input-group-lg">
            <button type="submit" class="btn btn-outline-success btn-lg" (click) = loadReports()> Search </button>
        </div>
      </div>
      <!-- End of Button -->
    </div>
  </form>
  </div> <!-- End of Form body container -->

<br>
<br>

  <div class="row justify-content-center">
    <div class="col-11 shadow p-3 mb-5 bg-white rounded">
      <!-- If patients array / search query is not length 0 or null -->
      <!-- If patients array / search query length is greater than 0 or NOT null-->
      <div class="justify-content-center">

          <div class="d-flex justify-content-center display-4 text-center">  Patient No: </div>
          <br>
          <div *ngIf="hasPatientNo && predictedDate === '-'" class="d-flex justify-content-center">
            <h1 class="display-5 text-muted text-center"> Please input a patient No </h1>
          </div>
          <div *ngIf="hasPatientNo && predictedDate !== '-'" class="d-flex justify-content-center">
            <h1 class="display-5 text-muted text-center"> {{selectedPatientNo}} </h1>
          </div>
          <div *ngIf="!hasPatientNo" class="d-flex justify-content-center">
            <h1 class="display-5 text-muted text-center"> Patient No not found! </h1>
          </div>
          <br>
          <div class="row  justify-content-center">
            <!-- Predicted Months: -->
            <div class="col-11 col-lg-6">
              <div class="d-flex justify-content-center display-4 text-center"> Predicted Months: </div>
              <div *ngIf="predictedMonths == '-'" class="d-flex justify-content-center">
                <h1 class="display-5 text-muted text-center"> - </h1>
              </div>
              <div *ngIf="predictedMonths !== '-'" class="d-flex justify-content-center">
                <h1 class="display-5 text-muted text-center"> {{predictedMonths | number:'1.0-0'}} </h1>
              </div>
            </div>
            <!-- Predicted Date: -->
            <div class="col-11 col-lg-6">
              <div class="d-flex justify-content-center display-4 text-center"> Predicted Date: </div>
              <div class="d-flex justify-content-center text-center"> <h1 class="display-5 text-muted"> {{predictedDate}} </h1> </div>
            </div>

          </div> <!-- End of row -->
      </div> <!-- End of second ngIf  -->
      <!--<br>
      <button type="button" class="btn btn-info btn-lg btn-block"> Re-calculate Predicted Months </button>
      <br>-->
    </div> <!-- End of Col-12 Div -->

  </div> <!-- End of Row -->

</div> <!-- End of Container -->



<!--
<div *ngFor="let patient of patients">
  <div>{{ patient.Patient_No }}</div>
  <div>{{ patient.Case_No }}</div>
  <div>{{ patient.Referral_Type_From }}</div>
</div>
-->

