<app-header></app-header>
<div class="max-width-section">
  <div class="row" >
    <div class="col">
      <select class="form-control mb-3" >
        <option *ngFor="let option of options.Month" [value]="option.key == 'Month' ? '' : option.key" [selected]="option.selected">{{option.key}}</option>
      </select>
      <select class="form-control mb-3" >
        <option *ngFor="let option of options.Year" [value]="option.key == 'Year' ? '' : option.key" [selected]="option.selected">{{option.key}}</option>
      </select>
    </div>
  </div>

  <div class="table-responsive table-hover">
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

      <!-- Position Column -->
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
        <td mat-cell *matCellDef="let element; let i = index"> {{ element["position"] }} </td>
      </ng-container>

      <ng-container matColumnDef="filename">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Filename </th>
        <td mat-cell *matCellDef="let element"> {{ element["filename"] }} </td>
      </ng-container>

      <ng-container matColumnDef="uploadDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Upload Date </th>
        <td mat-cell *matCellDef="let element"> {{ element["uploadDate"] }} </td>
      </ng-container>

      <ng-container matColumnDef="patientCount">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Patient Count </th>
        <td mat-cell *matCellDef="let element"> {{ element["patientCount"] }} </td>
      </ng-container>

      <!--    <ng-container matColumnDef="actions">-->
      <!--      <th mat-header-cell *matHeaderCellDef> Actions </th>-->
      <!--      <td mat-cell *matCellDef="let element">-->
      <!--        <mat-icon *ngIf="tableActions.includes(TableAction.assignment_edit)" (click)="onEditClick(element.docId)" class="mr-2">edit</mat-icon>-->
      <!--        <mat-icon *ngIf="tableActions.includes(TableAction.assignment_delete)" (click)="onDeleteClick(element.name, element.docId)">delete</mat-icon>-->
      <!--        <mat-icon *ngIf="tableActions.includes(TableAction.account_delete)" (click)="onDeleteClickAccount(element.docId)" class="ml-2">delete</mat-icon>-->
      <!--        <mat-icon *ngIf="tableActions.includes(TableAction.assignment_submit) && !element.assignmentSubmission" class="mr-2" (click)="onSubmitClick(element.docId)">attach_file</mat-icon>-->
      <!--        <mat-icon *ngIf="tableActions.includes(TableAction.assignment_resubmit) && element.assignmentSubmission && element.dueDatetime >= dateNow" class="mr-2" (click)="onSubmitClick(element.docId)">attach_file</mat-icon>-->
      <!--        <mat-icon *ngIf="tableActions.includes(TableAction.assignment_student_feedback) && element.assignmentSubmission && element.assignmentSubmission.feedback_datetime != -1" (click)="onFeedbackStudentClick(element.assignmentSubmission.docId)">insert_comment</mat-icon>-->
      <!--        <mat-icon *ngIf="tableActions.includes(TableAction.assignment_mark)" (click)="onMarkClick(element.docId)" class="mr-2">add_comment</mat-icon>-->
      <!--        <mat-icon *ngIf="tableActions.includes(TableAction.assignment_instructor_feedback)" (click)="onFeedbackInstructorClick(element.docId)" class="mr-2">insert_comment</mat-icon>-->
      <!--        <mat-icon *ngIf="tableActions.includes(TableAction.freelancer_hours)" (click)="onViewHours(element.docId)" class="ml-2">timer</mat-icon>-->
      <!--      </td>-->
      <!--    </ng-container>-->

      <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
      <tr
        mat-row
        (click)="clickedRows.has(row) ? clickedRows.delete(row) : clickedRows.add(row)"
        [class.demo-row-is-clicked]="clickedRows.has(row)"
        *matRowDef="let row; columns: tableColumns;"
      ></tr>
    </table>
  </div>
  <div *ngIf="!dataSource" class="spinner-container">
    <mat-progress-spinner class="mt-2 mb-2" mode="indeterminate" [diameter]="40"></mat-progress-spinner>
  </div>
  <div class="view-graph">
    View Graph >>
  </div>
  <mat-paginator class="mt-3" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  <app-chart></app-chart>
</div>
